
:root {
   --primary-color: rgb(158, 128, 240);
   --secondary-color: rgb(0, 153, 255);
   --teritiary-color: cornsilk;
}

body {
    color: var(--secondary-color);
    font-family: sans-serif;
}
/* Header nav bar style start */

header {
    flex-wrap: wrap;
    background-image: url("../images/background.jpg")
}
header a {
    font-weight: bold;
    font-size: 40px;
    color:var(--primary-color);
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 24px;
}
header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    align-content: space-around;
}
/* header nav bar style end */

/*body style starts */
.intro p {
    line-height: 1.7;
    width: 60%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center
}
.content {
    margin-left: 20px;
}

.about-me-details {
    display: flex;
}
.about-me-details img {
    width: 200px;
}
.accomplishments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.accomplishment-details {
    display: flex;
}
.accomplishment {
    padding: 5px;
    flex: 1;
}
.accomplishment img {
    width: 100%;
}

/* body styles end */
